{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "max-len": 0,
    "react/require-extension": "off",
    "no-plusplus": "off"
  }
}
